@font-face {
  font-family: 'Roboto';
  src: url('/public/font/Roboto-Regular.ttf') format('ttf');
}

html {

  scroll-behavior: smooth;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  background-color: #e6643a;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}